<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<center>
    <img src="/static/cfn.png" />

    PROGRAMA DE APOYO PRODUCTIVO Y FINANCIERO

</center>

<ul>
    <li>Financiamiento de pasivos con el sistema financiero público y privado, manteniendo el destino final de la operación (Activo Fijo o Capital de Trabajo).</li>
    <li>Financiamiento de pasivos adquiridos con proveedores nacionales</li>
    <li>
        Nuevo Financiamiento para ampliación operativa:
        <ul>
            <li>Activo Fijo</li>
            <li>Activo Fijo combinado con Capital de Trabajo</li>
        </ul>
    </li>
</ul>
<h4>FINANCIAMIENTO</h4>

<ul>
    <li>
        Para clientes nuevos: El monto del nuevo financiamiento deberá ser de al menos el
        30% del monto total de las operaciones refinanciadas y podrá alcanzar el 100% de la
        inversión necesaria para la ampliación a efectuarse.
    </li>
    <li>
        Para clientes CFN: podrán aplicar refinanciamiento sin necesidad de crédito nuevo.
    </li>
</ul>

</body>
</html>